In [21]:
import os

import math

import numpy as np
import pandas as pd


import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [22]:
df = pd.read_csv(os.path.join('..', 'datasets', 'storms.csv.gz'))

In [23]:
df

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,8812.0,3051.0,8806.0,NaN,1.0
1,1.0,4/18/1950 0:00:00,145,CST,3.0,...,8755.0,0.0,0.0,NaN,2.0
2,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,8742.0,0.0,0.0,NaN,3.0
3,1.0,6/8/1951 0:00:00,900,CST,89.0,...,8626.0,0.0,0.0,NaN,4.0
4,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,8642.0,0.0,0.0,NaN,5.0
5,1.0,11/15/1951 0:00:00,2000,CST,77.0,...,8748.0,0.0,0.0,NaN,6.0
6,1.0,11/16/1951 0:00:00,100,CST,9.0,...,8631.0,0.0,0.0,NaN,7.0
7,1.0,1/22/1952 0:00:00,900,CST,123.0,...,8558.0,0.0,0.0,NaN,8.0
8,1.0,2/13/1952 0:00:00,2000,CST,125.0,...,8740.0,3336.0,8738.0,NaN,9.0
9,1.0,2/13/1952 0:00:00,2000,CST,57.0,...,8738.0,3337.0,8737.0,NaN,10.0
...,...,...,...,...,...,...,...,...,...,...,...
902287,8.0,11/5/2011 0:00:00,03:00:00 AM,MST,17.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A strong Pacific trough pro...,902288.0
902288,48.0,11/28/2011 0:00:00,03:30:00 AM,CST,250.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A true blue norther drove p...,902289.0
902289,8.0,11/12/2011 0:00:00,09:00:00 PM,MST,73.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A strong storm system cente...,902290.0
902290,28.0,11/28/2011 0:00:00,03:00:00 PM,CST,3.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A powerful upper level low ...,902291.0
902291,47.0,11/28/2011 0:00:00,03:00:00 PM,CST,21.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A powerful upper level low ...,902292.0
902292,56.0,11/30/2011 0:00:00,10:30:00 PM,MST,7.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A strong cold front moved s...,902293.0
902293,30.0,11/10/2011 0:00:00,02:48:00 PM,MST,9.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A strong westerly flow alof...,902294.0
902294,2.0,11/8/2011 0:00:00,02:58:00 PM,AKS,213.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A 960 mb low over the south...,902295.0
902295,2.0,11/9/2011 0:00:00,10:21:00 AM,AKS,202.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A 960 mb low over the south...,902296.0
902296,1.0,11/28/2011 0:00:00,08:00:00 PM,CST,6.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: An intense upper level low ...,902297.0

In [58]:
df=df.set_index('REFNUM')

In [59]:
df.columns

Index([u'STATE__', u'BGN_DATE', u'BGN_TIME', u'TIME_ZONE', u'COUNTY',
       u'COUNTYNAME', u'STATE', u'EVTYPE', u'BGN_RANGE', u'BGN_AZI',
       u'BGN_LOCATI', u'END_DATE', u'END_TIME', u'COUNTY_END', u'COUNTYENDN',
       u'END_RANGE', u'END_AZI', u'END_LOCATI', u'LENGTH', u'WIDTH', u'F',
       u'MAG', u'FATALITIES', u'INJURIES', u'PROPDMG', u'PROPDMGEXP',
       u'CROPDMG', u'CROPDMGEXP', u'WFO', u'STATEOFFIC', u'ZONENAMES',
       u'LATITUDE', u'LONGITUDE', u'LATITUDE_E', u'LONGITUDE_', u'REMARKS'],
      dtype='object')

In [31]:
a = df.isnull().sum()

In [39]:
for column in df.columns:
    print "{:20s} {:2.3f}".format(column, 100. * a[column] / len(df))

STATE__              0.000
BGN_DATE             0.000
BGN_TIME             0.000
TIME_ZONE            0.000
COUNTY               0.000
COUNTYNAME           0.176
STATE                0.000
EVTYPE               0.000
BGN_RANGE            0.000
BGN_AZI              60.660
BGN_LOCATI           31.890
END_DATE             26.977
END_TIME             26.486
COUNTY_END           0.000
COUNTYENDN           100.000
END_RANGE            0.000
END_AZI              80.332
END_LOCATI           55.328
LENGTH               0.000
WIDTH                0.000
F                    93.491
MAG                  0.000
FATALITIES           0.000
INJURIES             0.000
PROPDMG              0.000
PROPDMGEXP           51.639
CROPDMG              0.000
CROPDMGEXP           68.538
WFO                  15.745
STATEOFFIC           27.571
ZONENAMES            65.835
LATITUDE             0.005
LONGITUDE            0.000
LATITUDE_E           0.004
LONGITUDE_           0.000
REMARKS              31.856
REFNUM               0.000

In [44]:
len(df)

902297

In [47]:
df.shape

(902297, 37)

In [48]:
df.shape[1]

37

In [49]:
df.describe()

//anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,STATE__,COUNTY,BGN_RANGE,COUNTY_END,COUNTYENDN,...,LATITUDE,LONGITUDE,LATITUDE_E,LONGITUDE_,REFNUM
count,902297.000000,902297.000000,902297.000000,902297.0,0.0,...,902250.000000,902297.000000,902257.000000,902297.000000,902297.000000
mean,31.200958,100.642905,1.483889,0.0,NaN,...,2874.942950,6939.538350,1451.611545,3509.139732,451149.000000
std,16.570178,107.276509,5.481574,0.0,NaN,...,1657.648801,3958.062506,1858.727873,4475.682973,260470.852256
min,1.000000,0.000000,0.000000,0.0,NaN,...,0.000000,-14451.000000,0.000000,-14455.000000,1.000000
25%,19.000000,31.000000,0.000000,0.0,NaN,...,NaN,7247.000000,NaN,0.000000,225575.000000
50%,30.000000,75.000000,0.000000,0.0,NaN,...,NaN,8707.000000,NaN,0.000000,451149.000000
75%,45.000000,131.000000,1.000000,0.0,NaN,...,NaN,9605.000000,NaN,8735.000000,676723.000000
max,95.000000,873.000000,3749.000000,0.0,NaN,...,9706.000000,17124.000000,9706.000000,106220.000000,902297.000000

In [50]:
df.min()

STATE__                           1
BGN_DATE           1/1/1966 0:00:00
BGN_TIME                          0
TIME_ZONE                       ADT
COUNTY                            0
COUNTYNAME                      inf
STATE                            AK
EVTYPE           HIGH SURF ADVISORY
BGN_RANGE                         0
BGN_AZI                         inf
                      ...
CROPDMGEXP                      inf
WFO                             inf
STATEOFFIC                      inf
ZONENAMES                       inf
LATITUDE                          0
LONGITUDE                    -14451
LATITUDE_E                        0
LONGITUDE_                   -14455
REMARKS                         inf
REFNUM                            1
dtype: object

In [51]:
df.shape

(902297, 37)

In [53]:
df.dropna().shape

(0, 37)

In [54]:
df.dropna(axis=1).shape

(902297, 20)

In [55]:
df.dropna(axis=1).columns

Index([u'STATE__', u'BGN_DATE', u'BGN_TIME', u'TIME_ZONE', u'COUNTY', u'STATE',
       u'EVTYPE', u'BGN_RANGE', u'COUNTY_END', u'END_RANGE', u'LENGTH',
       u'WIDTH', u'MAG', u'FATALITIES', u'INJURIES', u'PROPDMG', u'CROPDMG',
       u'LONGITUDE', u'LONGITUDE_', u'REFNUM'],
      dtype='object')

In [56]:
df.duplicated().sum()

0

In [57]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
          ...
902287    False
902288    False
902289    False
902290    False
902291    False
902292    False
902293    False
902294    False
902295    False
902296    False
dtype: bool

In [60]:
df[df.duplicated()] #lists sums of duplicate rows!

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LATITUDE,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS
REFNUM,,,,,,,,,,,
19.0,1.0,5/10/1952 0:00:00,900,CST,57.0,...,3344.0,8745.0,0.0,0.0,NaN
20.0,1.0,5/10/1952 0:00:00,900,CST,57.0,...,3344.0,8745.0,0.0,0.0,NaN
260.0,1.0,7/4/1960 0:00:00,1750,CST,13.0,...,3139.0,8636.0,0.0,0.0,NaN
603.0,1.0,5/14/1967 0:00:00,2330,CST,77.0,...,3453.0,8730.0,0.0,0.0,NaN
604.0,1.0,5/14/1967 0:00:00,2330,CST,77.0,...,3453.0,8730.0,0.0,0.0,NaN
928.0,1.0,4/23/1971 0:00:00,1346,CST,81.0,...,3235.0,8530.0,0.0,0.0,NaN
1010.0,1.0,3/2/1972 0:00:00,1035,CST,45.0,...,3117.0,8541.0,0.0,0.0,NaN
1930.0,1.0,3/3/1979 0:00:00,1430,CST,73.0,...,3331.0,8649.0,0.0,0.0,NaN
5421.0,4.0,7/1/1958 0:00:00,1400,CST,21.0,...,3235.0,11118.0,0.0,0.0,NaN
5423.0,4.0,7/16/1958 0:00:00,1830,CST,21.0,...,3253.0,11148.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
900732.0,46.0,10/4/2011 0:00:00,01:00:00 PM,CST,50.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: Several wildfires broke out...
900733.0,46.0,10/4/2011 0:00:00,02:00:00 PM,CST,63.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: Several wildfires broke out...
900734.0,42.0,10/29/2011 0:00:00,09:00:00 AM,EST,72.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: An early season winter stor...
900735.0,42.0,10/29/2011 0:00:00,08:00:00 AM,EST,47.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: An early season winter stor...
900736.0,36.0,10/29/2011 0:00:00,10:00:00 AM,EST,62.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: An early season winter stor...
900771.0,38.0,10/7/2011 0:00:00,03:00:00 PM,CST,7.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A strong early October low ...
900806.0,27.0,10/7/2011 0:00:00,04:00:00 PM,CST,1.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A strong early October low ...
900807.0,36.0,10/29/2011 0:00:00,01:00:00 PM,EST,57.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: An early season winter stor...
900808.0,38.0,10/24/2011 0:00:00,03:03:00 PM,CST,7.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: Seasonably warm and dry con...
900809.0,27.0,10/5/2011 0:00:00,03:00:00 PM,CST,5.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A wildfire originated in Ju...

In [65]:
len(df.EVTYPE.unique())

985

In [69]:
df['FATALITIES']

REFNUM
1.0         0.0
2.0         0.0
3.0         0.0
4.0         0.0
5.0         0.0
6.0         0.0
7.0         0.0
8.0         0.0
9.0         1.0
10.0        0.0
           ...
902288.0    0.0
902289.0    0.0
902290.0    0.0
902291.0    0.0
902292.0    0.0
902293.0    0.0
902294.0    0.0
902295.0    0.0
902296.0    0.0
902297.0    0.0
Name: FATALITIES, dtype: float64

In [71]:
df.shape

(902297, 36)

In [72]:
df.columns

Index([u'STATE__', u'BGN_DATE', u'BGN_TIME', u'TIME_ZONE', u'COUNTY',
       u'COUNTYNAME', u'STATE', u'EVTYPE', u'BGN_RANGE', u'BGN_AZI',
       u'BGN_LOCATI', u'END_DATE', u'END_TIME', u'COUNTY_END', u'COUNTYENDN',
       u'END_RANGE', u'END_AZI', u'END_LOCATI', u'LENGTH', u'WIDTH', u'F',
       u'MAG', u'FATALITIES', u'INJURIES', u'PROPDMG', u'PROPDMGEXP',
       u'CROPDMG', u'CROPDMGEXP', u'WFO', u'STATEOFFIC', u'ZONENAMES',
       u'LATITUDE', u'LONGITUDE', u'LATITUDE_E', u'LONGITUDE_', u'REMARKS'],
      dtype='object')

In [75]:
df.PROPDMGEXP.isnull().sum()

465934

In [76]:
df.PROPDMG.isnull().sum()

0

In [77]:
df.PROPDMGEXP.notnull()

REFNUM
1.0         True
2.0         True
3.0         True
4.0         True
5.0         True
6.0         True
7.0         True
8.0         True
9.0         True
10.0        True
            ...
902288.0    True
902289.0    True
902290.0    True
902291.0    True
902292.0    True
902293.0    True
902294.0    True
902295.0    True
902296.0    True
902297.0    True
Name: PROPDMGEXP, dtype: bool

In [80]:
df = df[(df.FATALITIES > 0) | (df.INJURIES > 0) | df.PROPDMGEXP.notnull() | df.CROPDMGEXP.notnull()]

In [82]:
len(df.EVTYPE.unique())

491

In [83]:
df.EVTYPE.sort_values()

REFNUM
448421.0       HIGH SURF ADVISORY
408333.0              FLASH FLOOD
354932.0                TSTM WIND
384744.0                TSTM WIND
313985.0          TSTM WIND (G45)
246124.0                        ?
307701.0      AGRICULTURAL FREEZE
308305.0      AGRICULTURAL FREEZE
291296.0      AGRICULTURAL FREEZE
189191.0            APACHE COUNTY
                    ...
332413.0               WINTRY MIX
370767.0               WINTRY MIX
265205.0                Whirlwind
265200.0                Whirlwind
279604.0                     Wind
278304.0              Wind Damage
256479.0               Wintry Mix
298038.0             blowing snow
304025.0            gradient wind
304040.0            gradient wind
Name: EVTYPE, dtype: object

In [84]:
(df.EVTYPE.value_counts() == 1).sum()

247

In [86]:
df[ 'EVTYPE'] = df.EVTYPE.apply(lambda type: type.strip().upper())

In [87]:
len(df.EVTYPE.unique())

447

In [88]:
(df.EVTYPE.value_counts() ==1).sum()

224

In [89]:
official_event_types = [
   'Astronomical Low Tide', 'Avalanche',
   'Blizzard', 'Coastal Flood', 'Cold/Wind Chill', 'Debris Flow',
   'Dense Fog', 'Dense Smoke', 'Drought', 'Dust Devil', 'Dust Storm',
   'Excessive Heat', 'Extreme Cold/Wind Chill', 'Flash Flood', 'Flood',
   'Frost/Freeze', 'Funnel Cloud', 'Freezing Fog', 'Hail', 'Heat',
   'Heavy Rain', 'Heavy Snow', 'High Surf', 'High Wind',
   'Hurricane (Typhoon)', 'Ice Storm', 'Lake-Effect Snow',
   'Lakeshore Flood', 'Lightning', 'Marine Hail', 'Marine High Wind',
   'Marine Strong Wind', 'Marine Thunderstorm Wind', 'Rip Current',
   'Seiche', 'Sleet', 'Storm Surge/Tide', 'Strong Wind',
   'Thunderstorm Wind', 'Tornado', 'Tropical Depression',
   'Tropical Storm', 'Tsunami', 'Volcanic Ash', 'Waterspout', 'Wildfire',
   'Winter Storm', 'Winter Weather',

   # We are also adding 'OTHER'...
   'OTHER'
]

official_event_types = map(lambda type: type.upper(), official_event_types)

In [90]:
official_event_types

['ASTRONOMICAL LOW TIDE',
 'AVALANCHE',
 'BLIZZARD',
 'COASTAL FLOOD',
 'COLD/WIND CHILL',
 'DEBRIS FLOW',
 'DENSE FOG',
 'DENSE SMOKE',
 'DROUGHT',
 'DUST DEVIL',
 'DUST STORM',
 'EXCESSIVE HEAT',
 'EXTREME COLD/WIND CHILL',
 'FLASH FLOOD',
 'FLOOD',
 'FROST/FREEZE',
 'FUNNEL CLOUD',
 'FREEZING FOG',
 'HAIL',
 'HEAT',
 'HEAVY RAIN',
 'HEAVY SNOW',
 'HIGH SURF',
 'HIGH WIND',
 'HURRICANE (TYPHOON)',
 'ICE STORM',
 'LAKE-EFFECT SNOW',
 'LAKESHORE FLOOD',
 'LIGHTNING',
 'MARINE HAIL',
 'MARINE HIGH WIND',
 'MARINE STRONG WIND',
 'MARINE THUNDERSTORM WIND',
 'RIP CURRENT',
 'SEICHE',
 'SLEET',
 'STORM SURGE/TIDE',
 'STRONG WIND',
 'THUNDERSTORM WIND',
 'TORNADO',
 'TROPICAL DEPRESSION',
 'TROPICAL STORM',
 'TSUNAMI',
 'VOLCANIC ASH',
 'WATERSPOUT',
 'WILDFIRE',
 'WINTER STORM',
 'WINTER WEATHER',
 'OTHER']

In [105]:
subset_df = df[df.EVTYPE.isin(official_event_types)]

In [106]:
1. * df.EVTYPE.isin(official_event_types).sum() / len(df) #Added . after 1, went up from 0 to 0.811, why?

0.8114550053693942

In [109]:
todo_df = df[-df.index.isin(subset_df.index) ]

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: DeprecationWarning: numpy boolean negative, the `-` operator, is deprecated, use the `~` operator or the logical_not function instead.
  if __name__ == '__main__':

In [110]:
todo_df.EVTYPE.value_counts()

TSTM WIND                         65591
THUNDERSTORM WINDS                12080
URBAN/SML STREAM FLD                754
HIGH WINDS                          656
TSTM WIND/HAIL                      447
LANDSLIDE                           412
WILD/FOREST FIRE                    389
FLASH FLOODING                      303
EXTREME COLD                        284
FLOOD/FLASH FLOOD                   279
                                  ...
LIGNTNING                             1
LANDSLUMP                             1
THUNDERSNOW                           1
TSTM WIND DAMAGE                      1
FLASH FLOODING/THUNDERSTORM WI        1
ROGUE WAVE                            1
MUD SLIDES                            1
COASTAL SURGE                         1
LIGHTNING INJURY                      1
TUNDERSTORM WIND                      1
Name: EVTYPE, dtype: int64

In [115]:
unrecognized_event_types_to_recognized_event_types = {
   'COLD': 'COLD/WIND CHILL',
   'COLD AND SNOW': 'COLD/WIND CHILL',
   'COLD WEATHER': 'COLD/WIND CHILL',
   'EXTREME COLD': 'EXTREME COLD/WIND CHILL',
   'EXTREME HEAT': 'EXCESSIVE HEAT',
   'EXTREME WINDCHILL': 'EXTREME COLD/WIND CHILL',
   'FLASH FLOOD/FLOOD': 'FLASH FLOOD',
   'FLASH FLOODING': 'FLASH FLOOD',
   'FLASH FLOODING/FLOOD': 'FLASH FLOOD',
   'FLOOD/FLASH FLOOD': 'FLASH FLOOD',
   'FLOODING': 'FLOOD',
   'FOG': 'DENSE FOG',
   'FREEZE': 'FROST/FREEZE',
   'FREEZING RAIN': 'HEAVY RAIN',
   'GLAZE': 'OTHER',
   'HEAT WAVE': 'HEAT',
   'HEAT WAVES': 'HEAT',
   'HEAVY RAIN/SEVERE WEATHER': 'HEAVY RAIN',
   'HEAVY SURF': 'HIGH SURF',
   'HEAVY SURF/HIGH SURF': 'HIGH SURF',
   'HIGH SEAS': 'OTHER',
   'HIGH WINDS': 'HIGH WIND',
   'HURRICANE': 'HURRICANE (TYPHOON)',
   'HURRICANE ERIN': 'HURRICANE (TYPHOON)',
   'HURRICANE OPAL': 'HURRICANE (TYPHOON)',
   'HURRICANE/TYPHOON': 'HURRICANE (TYPHOON)',
   'HYPOTHERMIA/EXPOSURE': 'OTHER',
   'ICE': 'ICE STORM',
   'ICY ROADS': 'OTHER',
   'LANDSLIDE': 'OTHER',
   'LOW TEMPERATURE': 'COLD/WIND CHILL',
   'MARINE MISHAP': 'MARINE HAIL',
   'MARINE TSTM WIND': 'MARINE THUNDERSTORM WIND RIP CURRENT',
   'RECORD/EXCESSIVE HEAT': 'EXCESSIVE HEAT',
   'RIP CURRENTS': 'MARINE THUNDERSTORM WIND RIP CURRENT',
   'RIVER FLOOD': 'FLOOD',
   'ROUGH SEAS': 'MARINE STRONG WIND',
   'SEVERE THUNDERSTORM': 'THUNDERSTORM WIND',
   'STORM SURGE': 'STORM SURGE/TIDE',
   'STRONG WINDS': 'STRONG WIND',
   'THUNDERSTORM WINDS': 'THUNDERSTORM WIND',
   'TORNADOES, TSTM WIND, HAIL': 'TORNADO',
   'TROPICAL STORM GORDON': 'TROPICAL STORM',
   'TSTM WIND': 'THUNDERSTORM WIND',
   'TSTM WIND/HAIL': 'THUNDERSTORM WIND',
   'TYPHOON': 'HURRICANE (TYPHOON)',
   'UNSEASONABLY WARM': 'OTHER',
   'UNSEASONABLY WARM AND DRY': 'OTHER',
   'URBAN/SML STREAM FLD': 'FLOOD',
   'WILD FIRES': 'WILDFIRE',
   'WILD/FOREST FIRE': 'WILDFIRE',
   'WIND': 'HIGH WIND',
   'WINTER STORMS': 'WINTER STORM',
   'WINTER WEATHER/MIX': 'WINTER WEATHER'
}

In [116]:
def event_type(event_type):
   if event_type in official_event_types:
       return event_type

   if event_type in unrecognized_event_types_to_recognized_event_types:
       return unrecognized_event_types_to_recognized_event_types[event_type]

   return event_type

In [117]:
#df['EVTYPE'] = df.EVTYPE.apply(event_type)

In [118]:
df.EVTYPE.apply(event_type)

REFNUM
1.0                TORNADO
2.0                TORNADO
3.0                TORNADO
4.0                TORNADO
5.0                TORNADO
6.0                TORNADO
7.0                TORNADO
8.0                TORNADO
9.0                TORNADO
10.0               TORNADO
                 ...
902288.0    WINTER WEATHER
902289.0      FROST/FREEZE
902290.0         HIGH WIND
902291.0    WINTER WEATHER
902292.0    WINTER WEATHER
902293.0         HIGH WIND
902294.0         HIGH WIND
902295.0         HIGH WIND
902296.0          BLIZZARD
902297.0        HEAVY SNOW
Name: EVTYPE, dtype: object

In [120]:
1. * df.EVTYPE.isin(official_event_types).sum() / len(df)

0.995746903947007

In [122]:
df.columns

Index([u'STATE__', u'BGN_DATE', u'BGN_TIME', u'TIME_ZONE', u'COUNTY',
       u'COUNTYNAME', u'STATE', u'EVTYPE', u'BGN_RANGE', u'BGN_AZI',
       u'BGN_LOCATI', u'END_DATE', u'END_TIME', u'COUNTY_END', u'COUNTYENDN',
       u'END_RANGE', u'END_AZI', u'END_LOCATI', u'LENGTH', u'WIDTH', u'F',
       u'MAG', u'FATALITIES', u'INJURIES', u'PROPDMG', u'PROPDMGEXP',
       u'CROPDMG', u'CROPDMGEXP', u'WFO', u'STATEOFFIC', u'ZONENAMES',
       u'LATITUDE', u'LONGITUDE', u'LATITUDE_E', u'LONGITUDE_', u'REMARKS'],
      dtype='object')

In [123]:
df.FATALITIES.isnull().sum()

0

In [124]:
df.INJURIES.isnull().sum()

0

In [125]:
df.PROPDMG.isnull().sum()

0

In [127]:
df.PROPDMG.sum()

10884075.00999954

In [128]:
df.PROPDMGEXP.unique()

array(['K', 'M', nan, 'B', 'm', '+', '0', '5', '6', '?', '4', '2', '3',
       'h', '7', 'H', '-', '1', '8'], dtype=object)

In [131]:
(df.PROPDMGEXP == '?').sum()

8

In [136]:
exponent_to_multiplier = {np.nan: np.nan, '+': np.nan, '-': np.nan, '?': np.nan,
   '0': 10 ** 0,
   '1': 10 ** 1,
   '2': 10 ** 2, 'H': 10 ** 2, 'h': 10 ** 2,
   '3': 10 ** 3,'K': 10 ** 3,'k': 10 ** 3,
   '4': 10 ** 4,
   '5': 10 ** 5,
   '6': 10 ** 6, 'M': 10 ** 6, 'm': 10 ** 6,
   '7': 10 ** 7,
   '8': 10 ** 8,
   'B': 10 ** 9}

In [137]:
df.PROPDMG = df.PROPDMG = df.PROPDMGEXP.map(exponent_to_multiplier)

In [138]:
import numpy as np