# DS-SF-27 | Lab 02 - Research Design and `pandas`

In this lab, we will be exploring the `Ozone` dataset using `pandas`.

> ## Question 1.  Import `pandas` (as `pd`).

In [4]:
import os

# TODO
import pandas as pd
pd.set_option('display.max_rows', 6)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [5]:
df = pd.read_csv(os.path.join('..', 'datasets', 'ozone.csv'))

> ## Question 2.  Display a few lines of the dataset to the screen.

In [6]:
# TODO

type (df)

pandas.core.frame.DataFrame

> ## Question 3.  How many samples (i.e., rows) are in this dataset?

In [23]:
# TODO

df.head()

# or just df on it's own

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

In [14]:
len(df)

153

In [19]:
df.shape[0]

153

In [21]:
df.shape[1]

6

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [27]:
# TODO

for column in df.columns:
    print column

Ozone
Solar.R
Wind
Temp
Month
Day

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [29]:
# TODO

df.shape[1]

6

In [31]:
#Alternatively

len(df.columns)

6

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [49]:
# TODO
# When number is after :, displays number of rows requested starting from row zero.

df[:2] 

#When number is before :, displays number of rows starting with chosen number before colon.
#Example:
#df[2:]
#Output is row 2, and so on.

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [50]:
# TODO

df[151:]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 8.  What is the value of Ozone in the 47th row?

In [52]:
# TODO

#df[47:]

df.at[47, 'Ozone']
#Data frame at row 47, column ozone is how I read this.

37.0

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [55]:
# TODO

df.Ozone.isnull().sum()

37

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [58]:
# TODO

df.Ozone.mean()

42.12931034482759

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [62]:
# TODO

subset_df = df[(df.Temp > 90) & (df.Ozone > 31)]


subset_df

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
..     ...      ...   ...   ...    ...  ...
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

[10 rows x 6 columns]

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [71]:
# TODO

subset_df["Solar.R"].mean()

212.8

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [75]:
# TODO

newsubset_df = df[(df.Month == 6)]

newsubset_df

#I did this one all by mysef!

    Ozone  Solar.R  Wind  Temp  Month  Day
31    NaN    286.0   8.6    78      6    1
32    NaN    287.0   9.7    74      6    2
33    NaN    242.0  16.1    67      6    3
..    ...      ...   ...   ...    ...  ...
58    NaN     98.0  11.5    80      6   28
59    NaN     31.0  14.9    77      6   29
60    NaN    138.0   8.0    83      6   30

[30 rows x 6 columns]

In [76]:
newsubset_df["Temp"].mean()
#This one too!

79.1

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [78]:
# TODO

df[df.Month==5].Ozone.max()

115.0